@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Rubik:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Rubik:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
border: none;
}

body{
width: 100vw;
height: 100vh;
background-color: #1a2b3c;
display: flex;
flex-direction: column;
align-items: center;
overflow-x: hidden;
}

main{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

header{
width: 80%;
height: 10%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

margin-top: 50px;
}

h1{
font-size: 25px;
color: #fff;
font-family: 'Poppins', sans-serif;
}

.sobrenome{
 color: #32e61a;
}

nav, a{
position: relative;
display: flex;
flex-direction: row;
gap: 40px;
font-size: 18px;
color: #fff;
font-weight: 500;
text-decoration: none;
font-family: 'Poppins', sans-serif;
}

nav a::before{
content: '';
position: absolute;
top: 100%;
left: 0;
width: 0;
height: 2px;
background: #32e61a;
transition: .4s;
}

/*estudar toggle*/

nav a:hover::before{
width: 100%;
}

.header{
width: 80%;
height: 60%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

margin-top: 100px; 
}

.header img{
/* border: 1px solid red;  */
height: 100%;
}
  
.header .text1{
font-size: 17px;
color: #fff;
font-family: 'Inter', sans-serif;
line-height: 2rem;
letter-spacing: 0.05rem;
}

.container{
margin-top: 60px;
/* border: 1px solid red; */
}

.container h2{
color: #fff;
font-family: 'Poppins', sans-serif;
letter-spacing: 3px;
}

.container .text{
position: relative;
color: #32e61a;
font-size: 30px;
font-weight: 600;
font-family: 'Belanosima', sans-serif;
}

.sec-text::before{
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #1a2b3c;
border-left: 2px solid #32e61a;
animation: animate 7s steps(25) infinite;
}

section{
margin-top: 110px;
width: 80%;
height: auto;
/* border: 1px solid green;  */

}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
} 

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.box-sobreMim{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.sobreMim{
display: flex;
flex-direction: column;
gap: 40px;
color: #fff;
}

.text2{
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  line-height: 2rem;
letter-spacing: 0.05rem;
}

.sobreMimText{
    color: #32e61a;
}

.box-sobreMim h3 {
    font-family: 'Poppins', sans-serif;
font-size: 30px;
text-align: center;
}

.home-img{
    margin-top: 50px;
    width: 410px;
    height: 410px;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 3.1s; 
    /* border: 1px solid red; */
}

.home-img .glowing-circle{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after{
   content: "";
   position: absolute;
   width: 380px;
   height: 380px;
   background: #1a2b3c;
   border-radius: 50%;
}

.glowing-circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#32e61a,#106d04);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1){
   filter: blur(10px);
}

.glowing-circle .image{
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img{
    position: absolute;
    top: 40px;
    left: 15px;
    max-width: 350px;
    object-fit: cover; 
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  padding: 0.85em 1.345em;
  font-weight: bold;
  border-radius: 0.5em;
  margin: auto;
  letter-spacing: 2px;
  cursor: pointer;
  max-width: 12rem;
}

.top-fill {
  position: relative;
  color: #fff;
  border: 3px solid #3bc928;
  background: transparent;
  overflow: hidden;
  transition: color 0.5s ease-in, transform 0.5s ease-in-out;
}

.top-fill::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 177px;
  background: #3bc928;
  transform: translate(-25px, 40px);
  transition: transform 0.45s ease-in;
}

.top-fill:hover::before {
  content: "";
  transform: translate(-25px, -30px);
  z-index: -1;
}

.top-fill:hover {
  color: #000;
}

.top-fill:active{
 transform: scale(0.9);
}

.container-projects-column{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects_habilidades{
  width: 100%;
  height: 100%;
  /* border: 1px solid blue;  */
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.text-project-habilidades, h4{
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-top: 150px;
  /* border: 1px solid green; */
}

.text-project-habilidades .projetos{
  /* border: 1px solid green; */
  padding: 0 0 0 390px;
}

.text-project-habilidades .habilidades{
  /* border: 1px solid green; */
  padding: 0 130px;
  color: #32e61a;
}

.container-project, h4{
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 200;
}

.container_project{
  width: 65%;
  height: 50%;
  padding: 0 0 450px 0;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-right: 3px solid #fff; 
  margin-top: 60px;
  text-align: center;
  display: grid;
  grid-template-columns: 480px 480px;
  grid-row-gap: 50px;
}

.card{
  background-image: linear-gradient(#1a2b3d,#1a2b3c);
  overflow: hidden;
  border-radius: 16px;
  max-width: 420px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .15s;
  margin-top: 30px;
 
}

.card:hover{
  background-image: linear-gradient(#1793c4,#16b5c0);
  box-shadow: rgb(0, 225, 255) 0px 1px 12px;
  border: 2px solid #0ccddb;
}

.card .img{
  background-image: url(/img/imcNovo.PNG);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .8;
  transition: all .5s;
  z-index: 2;
  border-radius: 10px;
  
}

.card:hover .img{
  opacity: 1;
  width: 600px;
}

.card .content{
  padding: 0 20px;
  overflow: hidden;
  height: 0;
  transition: all .5s;
  transform: translateY(30px);
  opacity: 0;
}

.card:hover .content{
  padding: 20px;
  height: 300px;
  transform: translateY(0);
  opacity: 1;
}

.card .content p{
  margin-bottom: 0;
  margin-top: 15px;
}

.card .content .title{
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  letter-spacing: 1.5px;
  font-family: 'Belanosima', sans-serif;
}

.card .content .desc{
  font-size: 14px;
  font-weight: 600;
  opacity: .7;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.button_card{
  font-size: 1px;
  background-color: #1a2b3c;
  color: #1a2b3c;
}

.card:hover .button_card{
position:relative; 
padding:10px 20px;
font-size:1rem;
color:var(--color);
border: 2px solid #000;
border-radius:4px;
text-decoration:none;
text-transform:uppercase;
letter-spacing:0.1rem;
transition:0.5s;
z-index:1;
margin-bottom: 20px;
cursor: pointer;
background-color: #b6b6b6;
font-family: 'Belanosima', sans-serif;
}

.card:hover .button_card:hover{
color:#fff;
border:2px solid rgba(0,0,0,0,0);
box-shadow:0 0 0px var(--color);
}

.card:hover .button_card::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:var(--color);
z-index:-1;
transform:scale(0);
transition:0.5s;
}

.card:hover .button_card:hover::before{
transform:scale(1);
transition-delay:0.5s;
box-shadow: 0 0 10px var(--color), 0 0 30px var(--color), 0 0 60px var(--color);
}

.card:hover .button_card span{
position: absolute;
background: var(--color);
pointer-events: none;
border-radius: 2px;
transition: 0.5s ease-in-out;
transition-delay: 0.25s;
}

.card:hover .button_card:hover span{
opacity: 0;
transition-delay: 0s;
}

.card:hover .button_card span:nth-child(1),
.card:hover .button_card span:nth-child(3){
width: 4px;
height: 4px;
}

.card:hover .button_card span:nth-child(1),
.card:hover .button_card span:nth-child(3){
transform: translateX(0);
}

.card:hover .button_card span:nth-child(2),
.card:hover .button_card span:nth-child(4){
width: 4px;
height: 4px;
}

.card:hover .button_card:hover span:nth-child(1),
.card:hover .button_card:hover span:nth-child(3){
transform: translateX(0);
}

.card:hover .button_card span:nth-child(1){
top: calc(50% - 2px);
left: -20px;
transform-origin: left;
}

.card:hover .button_card:hover span:nth-child(1){
left: 50%;
}

.card:hover .button_card span:nth-child(3){
top: calc(50% - 2px);
right: -20px;
transform-origin: right;
}

.card:hover .button_card:hover span:nth-child(3){
right: 50%;
}

.card:hover .button_card span:nth-child(2){
left: calc(50% - 2px);
top: -20px;
transform-origin: top;
}

.card:hover .button_card:hover span:nth-child(2){
top: 50%;
}

.card:hover .button_card span:nth-child(4){
left: calc(50% - 2px);
bottom: -20px;
transform-origin:  bottom;
}

.card:hover .button_card:hover span:nth-child(4){
bottom: 50%;
}

.card .arrow{
  padding: 15px;
  font-size: 28px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card:hover .arrow{
  transform: rotate(0);
}

.card_2{
  background-image: linear-gradient(#1a2b3d,#1a2b3d);
  overflow: hidden;
  border-radius: 16px;
  max-width: 420px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .15s;
  margin-top: 30px;
 
}

.card_2:hover{
  background-image: linear-gradient(#1e9e0d,#20b80c);
  box-shadow: rgb(0, 255, 21) 0px 1px 12px;
  border: 2px solid #32e61a;
}

.card_2 .img{
  background-image: url(/img/alarme.PNG);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .8;
  transition: all .5s;
  z-index: 2;
  border-radius: 10px;
}

.card_2:hover .img{
  opacity: 1;
  width: 600px;
}

.card_2 .content{
  padding: 0 20px;
  overflow: hidden;
  height: 0;
  transition: all .5s;
  transform: translateY(30px);
  opacity: 0;
}

.card_2:hover .content{
  padding: 20px;
  height: 300px;
  transform: translateY(0);
  opacity: 1;
}

.card_2 .content p{
  margin-bottom: 0;
  margin-top: 15px;
}

.card_2 .content .title{
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  letter-spacing: 1.5px;
  font-family: 'Belanosima', sans-serif;
}

.card_2 .content .desc{
  font-size: 14px;
  font-weight: 450;
  opacity: .7;
  font-family: 'Poppins', sans-serif;
}

.card_2:hover .button_card{
  position:relative; 
  padding:10px 20px;
  font-size:1rem;
  color:var(--color);
  border: 2px solid #000;
  border-radius:4px;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:0.1rem;
  transition:0.5s;
  z-index:1;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #b6b6b6;
  font-family: 'Belanosima', sans-serif;
  }
  
  .card_2:hover .button_card:hover{
  color:#fff;
  border:2px solid rgba(0,0,0,0,0);
  box-shadow:0 0 0px var(--color);
  }
  
  .card_2:hover .button_card::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--color);
  z-index:-1;
  transform:scale(0);
  transition:0.5s;
  }
  
  .card_2:hover .button_card:hover::before{
  transform:scale(1);
  transition-delay:0.5s;
  box-shadow: 0 0 10px var(--color), 0 0 30px var(--color), 0 0 60px var(--color);
  }
  
  .card_2:hover .button_card span{
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
  }
  
  .card_2:hover .button_card:hover span{
  opacity: 0;
  transition-delay: 0s;
  }
  
  .card_2:hover .button_card span:nth-child(1),
  .card_2:hover .button_card span:nth-child(3){
  width: 4px;
  height: 4px;
  }
  
  .card_2:hover .button_card span:nth-child(1),
  .card_2:hover .button_card span:nth-child(3){
  transform: translateX(0);
  }
  
  .card_2:hover .button_card span:nth-child(2),
  .card_2:hover .button_card span:nth-child(4){
  width: 4px;
  height: 4px;
  }
  
  .card_2:hover .button_card:hover span:nth-child(1),
  .card_2:hover .button_card:hover span:nth-child(3){
  transform: translateX(0);
  }
  
  .card_2:hover .button_card span:nth-child(1){
  top: calc(50% - 2px);
  left: -20px;
  transform-origin: left;
  }
  
  .card_2:hover .button_card:hover span:nth-child(1){
  left: 50%;
  }
  
  .card_2:hover .button_card span:nth-child(3){
  top: calc(50% - 2px);
  right: -20px;
  transform-origin: right;
  }
  
  .card_2:hover .button_card:hover span:nth-child(3){
  right: 50%;
  }
  
  .card_2:hover .button_card span:nth-child(2){
  left: calc(50% - 2px);
  top: -20px;
  transform-origin: top;
  }
  
  .card_2:hover .button_card:hover span:nth-child(2){
  top: 50%;
  }
  
  .card_2:hover .button_card span:nth-child(4){
  left: calc(50% - 2px);
  bottom: -20px;
  transform-origin:  bottom;
  }
  
.card_2:hover .button_card:hover span:nth-child(4){
  bottom: 50%;
  }

.card_2 .arrow{
  padding: 15px;
  font-size: 28px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card_2:hover .arrow{
  transform: rotate(0);
}

.card_3{
  background-image: linear-gradient(#1a2b3d,#1a2b3d);
  overflow: hidden;
  border-radius: 16px;
  max-width: 420px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .15s;
  margin-top: 30px;
}

.card_3:hover{
  background-image: linear-gradient(#a35210,#e26600);
  box-shadow: rgb(233, 105, 0) 0px 1px 12px;
  border: 2px solid #e26600;
}

.card_3 .img{
  background-image: url(/img/games3.PNG);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .8;
  transition: all .5s;
  z-index: 2;
  border-radius: 10px;
}

.card_3:hover .img{
  opacity: 1;
  width: 600px;
}

.card_3 .content{
  padding: 0 20px;
  overflow: hidden;
  height: 0;
  transition: all .5s;
  transform: translateY(30px);
  opacity: 0;
}

.card_3:hover .content{
  padding: 20px;
  height: 300px;
  transform: translateY(0);
  opacity: 1;
}

.card_3 .content p{
  margin-bottom: 0;
  margin-top: 15px;
}

.card_3 .content .title{
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  letter-spacing: 1.5px;
  font-family: 'Belanosima', sans-serif;
}

.card_3 .content .desc{
  font-size: 14px;
  font-weight: 450;
  opacity: .7;
  font-family: 'Poppins', sans-serif;
}

.card_3:hover .button_card{
  position:relative; 
  padding:10px 20px;
  font-size:1rem;
  color:var(--color);
  border: 2px solid #000;
  border-radius:4px;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:0.1rem;
  transition:0.5s;
  z-index:1;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #b6b6b6;
  font-family: 'Belanosima', sans-serif;
  }
  
  .card_3:hover .button_card:hover{
  color:#fff;
  border:2px solid rgba(0,0,0,0,0);
  box-shadow:0 0 0px var(--color);
  }
  
  .card_3:hover .button_card::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--color);
  z-index:-1;
  transform:scale(0);
  transition:0.5s;
  }
  
  .card_3:hover .button_card:hover::before{
  transform:scale(1);
  transition-delay:0.5s;
  box-shadow: 0 0 10px var(--color), 0 0 30px var(--color), 0 0 60px var(--color);
  }
  
  .card_3:hover .button_card span{
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
  }
  
  .card_3:hover .button_card:hover span{
  opacity: 0;
  transition-delay: 0s;
  }
  
  .card_3:hover .button_card span:nth-child(1),
  .card_3:hover .button_card span:nth-child(3){
  width: 4px;
  height: 4px;
  }
  
  .card_3:hover .button_card span:nth-child(1),
  .card_3:hover .button_card span:nth-child(3){
  transform: translateX(0);
  }
  
  .card_3:hover .button_card span:nth-child(2),
  .card_3:hover .button_card span:nth-child(4){
  width: 4px;
  height: 4px;
  }
  
  .card_3:hover .button_card:hover span:nth-child(1),
  .card_3:hover .button_card:hover span:nth-child(3){
  transform: translateX(0);
  }
  
  .card_3:hover .button_card span:nth-child(1){
  top: calc(50% - 2px);
  left: -20px;
  transform-origin: left;
  }
  
  .card_3:hover .button_card:hover span:nth-child(1){
  left: 50%;
  }
  
  .card_3:hover .button_card span:nth-child(3){
  top: calc(50% - 2px);
  right: -20px;
  transform-origin: right;
  }
  
  .card_3:hover .button_card:hover span:nth-child(3){
  right: 50%;
  }
  
  .card_3:hover .button_card span:nth-child(2){
  left: calc(50% - 2px);
  top: -20px;
  transform-origin: top;
  }
  
  .card_3:hover .button_card:hover span:nth-child(2){
  top: 50%;
  }
  
  .card_3:hover .button_card span:nth-child(4){
  left: calc(50% - 2px);
  bottom: -20px;
  transform-origin:  bottom;
  }
  
.card_3:hover .button_card:hover span:nth-child(4){
  bottom: 50%;
  }

.card_3 .arrow{
  padding: 15px;
  font-size: 28px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card_3:hover .arrow{
  transform: rotate(0);
}

.card_4{
  background-image: linear-gradient(#1a2b3d,#1a2b3d);
  overflow: hidden;
  border-radius: 16px;
  max-width: 420px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .15s;
  margin-top: 30px;
  
}

.card_4:hover{
  background-image: linear-gradient(#000000,#1f1f1f);
  box-shadow: rgb(0, 0, 0) 0px 1px 12px;
  border: 2px solid #000000;
}

.card_4 .img{
  background-image: url(/img/bolas.PNG);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .8;
  transition: all .5s;
  z-index: 2;
  border-radius: 10px;
}

.card_4:hover .img{
  opacity: 1;
  width: 600px;
}

.card_4 .content{
  padding: 0 20px;
  overflow: hidden;
  height: 0;
  transition: all .5s;
  transform: translateY(30px);
  opacity: 0;
}

.card_4:hover .content{
  padding: 20px;
  height: 300px;
  transform: translateY(0);
  opacity: 1;
}

.card_4 .content p{
  margin-bottom: 0;
  margin-top: 15px;
}

.card_4 .content .title{
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  letter-spacing: 1.5px;
  font-family: 'Belanosima', sans-serif;
}

.card_4 .content .desc{
  font-size: 14px;
  font-weight: 450;
  opacity: .7;
  font-family: 'Poppins', sans-serif;
}

.card_4:hover .button_card{
  position:relative; 
  padding:10px 20px;
  font-size:1rem;
  color:var(--color);
  border: 2px solid #000;
  border-radius:4px;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:0.1rem;
  transition:0.5s;
  z-index:1;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #b6b6b6;
  font-family: 'Belanosima', sans-serif;
  }
  
  .card_4:hover .button_card:hover{
  color:#fff;
  border:2px solid rgba(0,0,0,0,0);
  box-shadow:0 0 0px var(--color);
  }
  
  .card_4:hover .button_card::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--color);
  z-index:-1;
  transform:scale(0);
  transition:0.5s;
  }
  
  .card_4:hover .button_card:hover::before{
  transform:scale(1);
  transition-delay:0.5s;
  box-shadow: 0 0 10px var(--color), 0 0 30px var(--color), 0 0 60px var(--color);
  }
  
  .card_4:hover .button_card span{
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
  }
  
  .card_4:hover .button_card:hover span{
  opacity: 0;
  transition-delay: 0s;
  }
  
  .card_4:hover .button_card span:nth-child(1),
  .card_4:hover .button_card span:nth-child(3){
  width: 4px;
  height: 4px;
  }
  
  .card_4:hover .button_card span:nth-child(1),
  .card_4:hover .button_card span:nth-child(3){
  transform: translateX(0);
  }
  
  .card_4:hover .button_card span:nth-child(2),
  .card_4:hover .button_card span:nth-child(4){
  width: 4px;
  height: 4px;
  }
  
  .card_4:hover .button_card:hover span:nth-child(1),
  .card_4:hover .button_card:hover span:nth-child(3){
  transform: translateX(0);
  }
  
  .card_4:hover .button_card span:nth-child(1){
  top: calc(50% - 2px);
  left: -20px;
  transform-origin: left;
  }
  
  .card_4:hover .button_card:hover span:nth-child(1){
  left: 50%;
  }
  
  .card_4:hover .button_card span:nth-child(3){
  top: calc(50% - 2px);
  right: -20px;
  transform-origin: right;
  }
  
  .card_4:hover .button_card:hover span:nth-child(3){
  right: 50%;
  }
  
  .card_4:hover .button_card span:nth-child(2){
  left: calc(50% - 2px);
  top: -20px;
  transform-origin: top;
  }

  .card_4:hover .button_card:hover span:nth-child(2){
  top: 50%;
  }
  
  .card_4:hover .button_card span:nth-child(4){
  left: calc(50% - 2px);
  bottom: -20px;
  transform-origin:  bottom;
  }
  
.card_4:hover .button_card:hover span:nth-child(4){
  bottom: 50%;
  }

.card_4 .arrow{
  padding: 15px;
  font-size: 28px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card_4:hover .arrow{
  transform: rotate(0);
}

.container-habilidades{
  width: 30%;
  padding: 0 0 100px 0;
  height: max-content;
  /* border: 1px solid #000;  */
  margin-top: 80px;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-row-gap: 110px;
  grid-column-gap: 80px;

}

.container-habilidades .card_skill{
  position: relative;
  width: 200px;
  height: 190px;
  background: #1a2b3c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-habilidades .card_skill .percent{
  position: relative;
  width: 150px;
  height: 150px;
}

.container-habilidades .card_skill .percent svg{
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.container-habilidades .card_skill .percent svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px,5px);
}

.container-habilidades .card_skill .percent svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 1;
  
}

.card_skill:hover .percent svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeI 1s linear forwards;
  animation-delay: 2.5s;
}

.dot{
  position: absolute;
  inset: 5px;
  z-index: 10;
  /* 360deg / 100 = 3.6 */
  transform: rotate(calc(3.6deg * var(--num)));
}

.card_skill:hover .dot{
  position: absolute;
  inset: 5px;
  z-index: 10;
  /* 360deg / 100 = 3.6 */
  animation: animateD 2s linear forwards;
}

.dot::before{
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.number{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.card_skill:hover .number{
  opacity: 1;
  animation: animateN 4s linear forwards;
}

.number h5{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 2.5em;
}

.number h5 span{
  font-weight: 300;
  color: #fff;
  font-size: 0.5em;
}

.number .skill{
  font-weight: 300;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.75);
}












@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes circleRotate {
   0%{
    transform: rotate(0);
   }
   100%{
    transform: rotate(360deg);
   }
}

@keyframes animate{
 40%, 60%{
  left: 100%;
 }
 100%{
  left: 0%;
 }
}

@keyframes fadeI{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes animateD{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

@keyframes animateN{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}